/*
!readme.md
!.gitignore
!/BlenderKritaLink
!/blenderKritaLink
!/KritaBlenderLink
!cppPart
!ruff.toml
!demo.gif
!demo.mp4
!panel.png
/KritaBlenderLink/__pycache__
!KritaBlenderLink.desktop
**/__pycache__
*/.vscode
connection/__pycache__
KritaBlenderLink/krita.py
