/*
!readme.md
!.gitignore
!/BlenderKritaLink
!/blenderKritaLink
!/KritaBlenderLink
!cppPart
/KritaBlenderLink/__pycache__
!KritaBlenderLink.desktop
**/__pycache__
*/.vscode
connection/__pycache__
KritaBlenderLink/krita.py
