[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=KritaBlenderLink
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=KritaBlenderLink
Comment=Plugin for linking one krita image to blender texture
